<h3>Who are you?</h3>
<em>your IP address, mac address, current routing, etc.</em>
<button>Boost me!</button>
<button>Boost this site!</button>

<h3>Who else is on here?</h3>
<em>tables, clients, etc.</em>
