<h1>Who are you?</h1>
<em>your IP address, mac address, current routing, etc.</em>
<button>Boost me!</button>
<button>Boost this site!</button>

<h1>Who else is on here?</h1>
<em>tables, clients, etc.</em>
