<h3>Your computer: XX.YY.ZZ.AA</h3>
<button class="btn btn-lg btn-primary">Make me normal</button>
<button class="btn btn-lg btn-success">Make me faster if necessary for N hours</button>
<button class="btn btn-lg btn-warning">Make me faster unconditionally for N hours</button>
